@font-face {
    font-family: "AmazoneW01-Regular";
    src: url('./css.module/fonts/AmazoneW01-Regular.woff');
    src: url('./css.module/fonts/AmazoneW01-Regular.woff2');
    font-display: swap
}

@font-face {
    font-family: 'boyarskycregular';
    src: url('./css.module/fonts/boyarskyc.woff') format('woff'), url('./css.module/fonts/boyarskyc.woff2') format('woff2');
    font-display: swap
}

@font-face {
    font-family: 'Material Icons';
    font-weight: 400;
    src: url('./css.module/fonts/Material Icons(_abcdefghiklmnoprstuvwy).woff2') format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    text-transform: none;
}

@import "~materialize-css/dist/css/materialize.min.css"
